body{
    min-height: 100vh;
    background: linear-gradient(to right, green, red );
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.login-card{
    width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 4em;
    border-radius: 10px;
    position: relative;
}
.box{
    display: flex;
    margin-left: 50px;
}
.login-card::before{
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .5);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}
.login-card-logo{
    margin-bottom: 2em;
}
.login-card-logo img{
    width: 70px;
    height: 50px;
  
}
.login-card-logo,
.login-card-header,
.login-card-footer{
    text-align: center;
}
.login-card a{
    text-decoration: none;
}
.login-card a:hover{
text-decoration: underline;
}
.login-card-header{
    margin-bottom: 2em;
}
.login-card-header h1{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: .5em;
}
.login-card-header h1 + div{
    font-size: calc(1em * .8);
    opacity: .8;
}
.login-card-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.login-card-form .form-item{
    position: relative;
}
.login-card-form .form-item .form-item-icon{
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}
.login-card-form .checkbox{
    display: flex;
    align-items: center;
    gap: 7px;
}
.login-card-form .form-item-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: .5rem;
}
.login-card-footer{
    margin-top: 1.5rem;
    font-size: calc(1rem * .8);
}
.login-card[type='text'],
.login-card[type='password'],
.login-card[type='email']{
border: none;
outline: none;
background: rgba(255, 255, 255, .5);
padding: 1rem 1.5rem;
padding-left: calc(1rem * 3.5);
border-radius: 100px;
width: 100%;
transition: background .5s;
}
.login-card input[type='.checkbox']{
width: 16px;
height: 16px;
accent-color: black;
}
.login-card-form button{
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .5s;
}
.login-card-form button:hover{
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}
#email{
    border: 1px solid red;
    width: 180px;
    height: 40px;
    padding: 0 20px;
}
#email:active{
background-color: red;
color: black;
}
#password{
    border: 1px solid red;
    width: 180px;
    height: 40px;
    padding: 0 20px;
}
#password:active{
    background-color: red;
    color: black;
    }